body{
    background-color:crimson;
};
header{
    top: 20px;
    align-items: center;
    background-color: rgb(255, 106, 0);
    border-radius: 8px;
    border:none; 
    color:black;
    padding:20px;
    width:80%;
}
#g{
    margin-bo
}
header h4{
    float:left;
    margin-left:5px
}
header a{
    float: right;
    margin-left:5px
}
#main{
    border-radius: 8px;
    background-color: rgb(92, 24, 0);
    color: rgb(251, 251, 83);
    border:none;
    padding:30px;
    width: 90%;
    align-items: center;
    padding:50px;
    margin-top:70px;
}
#main div{
    border-radius: 16px;
    background-color:rgb(255, 15, 15);
    float: left;
    margin-bottom:20px;
};
#main div img{
    border: 4px solid rgb(92, 24, 0);
    width:100px;
    height: 100px;
};

#cart{
    margin-top:25px;
    background-color: coral;
    color:rgb(41, 14, 14);
    border: 5px solid goldenrod;
    border-radius: 8px;
    width: 125px;
    padding:12px;
}
#id{
    padding:25px;
    background-color:rgb(95, 59, 24);
    width:100%;
}