#left{
  float:right;
  margin-right:40px;
  text-decoration: none;
  font-size: 3em;
}
#left:hover{
    color:yellowgreen;
}
#main{
  background-color:rgb(50, 0, 0 ) ;
  padding:40px;
  color:goldenrod;
  margin-top: 80px;
}
body{
  background-color: red;
}
#good{
  padding:20px;
  background-color:coral;
  width:255px;
  border-radius:20px;
  color:black;

}
#good img{
  width:200px;
  height:200px;
}
#main a{
    text-decoration: none;
}
#main a:hover{
    color:yellowgreen;
}