body{
    background-color: black;
}
form{
    top: 25px;
    width: 250px;
    padding: 20px;
    background-color: orangered;
    color:black;
    align-content: center;
    left: 50%;
    top: 50px;
};
input{
    border: 1px solid white;
    background-color: black;
}