<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, 
    initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet"
     href="{{url_for('static', filename='css\1.css')}}">
    <link rel="stylesheet"
     href="C:\Users\user\Desktop\web1\static\css\1.css">
    <style>
        
    </style>
</head>
<body style='background-color: rgb(60, 0, 200);}'>

<div>
<h1 id="title_discount" style="    text-align: center;
    color: white;
    font-family: Arial;">WINTER DISCOUNT</h1>
<br>
{% block procd %}
<a href='/'>
<h2 style="   text-decoration: none
text-align: center;
    color: white;
    font-family: Arial;">Click here to return in Home</h2></h2></a>
{% endblock procd %}
<br>
{% block main%}
{% endblock main%}


</body>
</html>