<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, 
    initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet"
     href="{{url_for('static', filename='css\1.css')}}">
    <link rel="stylesheet"
     href="C:\Users\user\Desktop\web1\static\css\1.css">
    {% block css %}{% endblock css %}
</head>
<body>

<div>
<h1 id="title_discount">WINTER DISCOUNT</h1>
<br>
{% block procd %}

{% endblock procd %}
<br>
{% block main%}
{% endblock main%}


</body>
</html>