{% extends "base.html" %}
{% block title %}
Home
{% endblock title %}
{% block procd %}
    <input id="promocode" type="text" name="promocode">
    </div>
{% endblock procd %}
{% block main %}
    <a  href='/game'>
    <div id='categoty'>
        <img src="C:\Users\user\Desktop\WWW3\static\img\game.webp">
        <h1>Game</h1>
    </div>
<a/>
<a  href='/budjet'>
    <div id='categoty'>
        <img src="C:\Users\user\Desktop\WWW3\static\img\budjet.webp">
        <h1>Budjet</h1>
    </div>
<a/>
<a  href='/office'>
    <div id='categoty'>
        <img src="C:\Users\user\Desktop\WWW3\static\img\ofice.webp">
        <h1>Office</h1>
    </div>
<a/>
<a  href='/pro'>
    <div id='categoty'>
        <img src="C:\Users\user\Desktop\WWW3\static\img\pro.webp">
        <h1>Pro</h1>
    </div>
<a/>


{% endblock main %}